<!DOCTYPE html>
<html>

<head>
  <title>Flask-SocketIO Example</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css" rel="stylesheet">
</head>

<body>
  <div id="loading" class="w-full text-center">Initializing software.....</div>

  <div id="road" class="hidden">
    

      <div style="background-image: url({{url_for('static', filename='road.jpeg')}}); background-repeat: no-repeat;
      background-size: contain;
      background-position: center;" class="w-screen h-screen bg-contain overflow-hidden">

<div id="road2" style="top:5%;left: 100px;;" class="fixed bg-white w-72 rounded p-4">

</div>
<div id="road3" style="top:5%;right: 100px;;" class="fixed bg-white w-72 rounded p-4">

</div>

<div id="road1" style="bottom:5%;left: 100px;;" class="fixed bg-white w-72 rounded p-4">
  
</div>
<div id="road4" style="bottom:5%;right: 100px;;" class="fixed bg-white w-72 rounded p-4">
 
</div>

          <div id="road2green" style="top:45%;left:34%;" class="fixed w-8 h-8 bg-green-500 rounded-full"></div>
          <div id="road2red" style="top:39%;left:34%;" class="fixed w-8 h-8 bg-red-500 rounded-full"></div>

          <div id="road3green" style="top:23%;left:55%;" class="fixed w-8 h-8 bg-green-500 rounded-full"></div>
          <div id="road3red" style="top:23%;left:52%;" class="fixed w-8 h-8  bg-red-500 rounded-full"></div>

          <div id="road4red" style="top:58%;left:64%;" class="fixed w-8 h-8 bg-red-500 rounded-full"></div>
          <div id="road4green" style="top:52%;left:64%;" class="fixed w-8 h-8 bg-green-500 rounded-full"></div>

          <div id="road1red" style="top:72%;left:47%;" class="fixed w-8 h-8 bg-red-500 rounded-full"></div>
          <div id="road1green" style="top:72%;left:42%;" class="fixed w-8 h-8 bg-green-500 rounded-full"></div>

          <div id="time" style="top:47%;left:48%;"  class="fixed text-3xl bold text-green-500">
            0
          </div>

    </div>

  </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('connect', () => {
      console.log('Connected to server');

    socket.emit('result', "message");
    });

    let clearId;
    let time;

    socket.on('response', (data)=>{

      document.getElementById("loading").classList.add("hidden");
      document.getElementById("road").classList.remove("hidden");


      for (let index = 1; index <= 4; index++) {
          document.getElementById(`road${index}green`).classList.remove("hidden");
          document.getElementById(`road${index}red`).classList.remove("hidden");
      }

      if(data){

        console.log(data);

        for (let index = 1; index <= 4; index++) {
          document.getElementById(`road${index}green`).classList.add("hidden");

          

        }

        time = data["at"];

        if(clearId){
          clearInterval(clearId);
        }

        clearId = setInterval(()=>{
          if(time>=0){
            document.getElementById("time").innerText = `${time} s`;
            time = time-1;
          }
        },1000);
        
        document.getElementById(`road${data["road"]}green`).classList.remove("hidden");;
        document.getElementById(`road${data["road"]}red`).classList.add("hidden");


        data.data.map((data)=>{
          document.getElementById(`road${data.no}`).innerHTML = `
          <div class="text-xl bold">Road ${data.no}</div>
          <div class="text-xl">Vehicle:${data.v}</div>
          <div class="text-xl">Emergency vehicle:${data.e}</div>
          `;
        });

      }
    });


    const sendMessage = () => {
      const message = prompt('Enter a message:');
      socket.emit('message', message);
    };
  </script>
</body>

</html>